body {
  background: #eee;
}
.page {
  max-width: 840px;
  width: 100%;
  margin: 30px auto;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0 2%;
}
.title {
  font-size: 35px;
  color: #000;
  line-height: 1.2;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.list-selector {
  margin-right: 0;
  margin-left: auto;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}
#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#app.list {
  flex-direction: column;
}
#app.list section {
  width: 96%;
}
section {
  width: 46%;
  margin: 2% 2%;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
}
section h2 {
  color: #000;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 23px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
}
.apdex, .name {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 1.2;
  display: block;
  font-family: 'Open Sans', sans-serif;
}
.apdex {
  width: 30px;
  flex-shrink: 0;
}
.tooltip {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  text-align: center;
  color: red;
}
.show-tooltip .tooltip {
  display: block;
}